.container{
  display: inline-flex;
  flex-direction: column;
  width: auto;
  background: var(--gray8);
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}

.header-container{
  width: 200px;
}

::-webkit-scrollbar {
  display: none;
}


.layout{
  display: flex;
  flex-direction: row;
}

.layout .arrow{
  margin-left: auto;
}

.layout .reset{
  margin-left: auto;
}



span{
  user-select: none;
}

.reset{
  background: transparent;
  border: none;
}

.reset:hover{
  background-color: rgba(1,1,1,0.5);
}

.expand-data{
  display: inline-flex;
  flex-direction: column;
  width: auto;
  max-height: 200px;
  overflow-y: scroll;
}

.expand-data button:hover{
  transform: scale(1.02);
}

.expand-data button{
  background: transparent;
  color: white;
  font-size: 15px;
  border: none;
  user-select: none;
  transition: 0.3s ease;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
}

.expand-data button:hover{
  cursor: pointer;
  background-color: rgba(1,1,1,0.5);
}

.arrow{
  border: none;
  background: transparent;
  transform: rotate(270deg);
}

