[Desktop Entry]
Name=GruvAnime
Comment=discover anime and manga in a gruvbox style
Exec=/opt/GruvAnime/gruvanime-0.0.0.AppImage
Terminal=false
Type=Application

