.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 350px;
}

.more-text{
  display: flex;
  justify-content: center;
}

a{
  text-decoration: none;
  color:#689d6a;
}

span{
  color: #d5c4a1;
}

body{
  background-color: #1d2021;
  font-family: Roboto,apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

.container span{
  font-size: 40px;
}
