.container{
  margin-top: 0px;
}

.loader-container{
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.cover-container img{
  width: 100vw;
  height: 500px;
  filter: blur(2px);
  object-fit: cover;
  mask: linear-gradient(to top, transparent 0%, transparent 10%, black 50%, black 100%);
}

.anime-card{
  position: absolute;
  top: 100px;
  left: 100px;
}

.info{
  position: absolute;
  top: 0px;
  left: 300px;
  width: 500px;
  height: 400px;
}

.title{
  color: #ebdbb2;
  font-size: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 1000px;
}

h1{
  margin-bottom: 0px;
}

h2{
  margin-top: 0px;
}

.review-container-top{
  position: absolute;
  left: 100px;
  top: 1200px;
}


.review-container{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 50px;
  margin-top: 50px;
}

.review{
  display: inline-block;
  width: 600px;
  height: auto;
}
.review p {
  text-justify: center;
  margin-bottom: 0px;
}

.review-options{
  display: grid;
  grid-template-columns: repeat(4,100px);
  gap: 0px;
}

.tag-container{
  margin: 10px;
  margin-left: 0px;
  margin-bottom: 0px;
}

.tag{
  border-radius: 5px;
  padding: 5px;
  background-color: var(--gray7);
}

.review-option-read{
  border:none;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
  color: white;
  background-color: var(--aqua);
  transition: 0.3s ease;
}
.review-option-read:hover{
  transform: scale(1.02);
  background-color: var(--aqua-bright);
}

.review img{
  float: top;
  margin-right: 10px;
}

.user{
  position: absolute;
  margin-top: 5px;
}

.year{
  background-color: rgba(184, 187, 38, 0.2);
  color: #b8bb26;
  display: inline-flex;
  padding: 5px;
  width: auto;
  border-radius: 9999px;
  border: 1px solid rgba(184, 187, 38, 0.3);

}

.status{
  background-color: rgba(184, 187, 38, 0.2);
  color: #b8bb26;
  display: inline-flex;
  padding: 5px;
  width: auto;
  border-radius: 9999px;
  border: 1px solid rgba(184, 187, 38, 0.3);
}

.anime-card img{
  user-select: none;
  transition: 0.3s ease;
}


.anime-card img:hover{
  transform: scale(1.02);
}


.block{
  display: inline-flex;
  padding: 5px;
  border-radius: 5px;
  width: auto;
}

.synopsis-container{
  display: flex;
  flex-direction: column;
  margin-top: 500px;
  margin-left: 500px;
}

.synopsis{
  width: 1000px;
  text-justify: center;
}


.genre{
  background-color: #3c3836;
  border: 1px solid #504945;
  color: white;
  display: inline-flex;
  width: auto;
  border: 1px solid white;
  padding: 5px;
  border-radius: 0.375rem;

}

.row-1{
  display: flex;
  flex-direction: row;
  gap: 10px;

}

.row-2{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.genre-container{
  margin-top: 10px;
}

.anime-card img{
  width: 280px;
  height: 400px;
  border-radius: 10px;
}

.rank-container{
  margin-top: 10px;
}

.anime-card-bottom-info{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin-top: 10px;
  gap: 10px;
}

.pop{
  border-radius: 5px;
  padding: 5px;
  color: white;
  background-color: var(--aqua);

}

.score{
  border-radius: 5px;
  padding: 5px;
  color: white;
  background-color: var(--blue);
}

.fav{
  border-radius: 5px;
  padding: 5px;
  color: white;
  background-color: var(--purple);

}

.rank{
  border-radius: 5px;
  padding: 5px;
  color: white;
  background-color: var(--yellow);
}
.char-title{
  position: absolute;
  top: 610px;
  left: 100px;
}



.char{
  padding: 10px;
  background-color: var(--bg-hard);
  width: 225px;
  height: 400px;
  border-radius: 10px;
}

.char-container{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  gap: 10px;
  float: left;
  margin-top: 630px;
  margin-left: 100px;
  margin-bottom: 0px;
}

.review-title{
  position: absolute;
  top: 1150px;
  left: 100px;
}


.char img{
  transition: 0.3s ease;
}

a{
  text-decoration: none;
  color: var(--primary);
}

.char-info{
  display: flex;
  flex-direction: column;
}


.char-name{
  display: flex;
  margin-left: 10px;
  margin-top: 10px;
  float: bottom;
}
.char-role{
  display: flex;
  margin-left: 10px;
  float: bottom;
}

