<app-topbar></app-topbar>
@if (data && !loading) {
  <div class="container">
    <div class="main-container">
      <div class="anime-card">
        <div [ngClass]="{ 'info': !isMobile, 'info-mobile': isMobile }">
          <div class="title-container">
            <h1 class="title">{{ data.title_english }} </h1>
            <h2 >{{ data.title_japanese }}</h2>
          </div>
          <div class="row-1">
            <span class="badge" *ngIf="data.year">
              {{ data.year }}
            </span>
            <span class="badge" *ngIf="data.status">
              {{ data.status }}
            </span>
            <span class="badge" *ngIf="data.episodes">
              Episodes: {{ data.episodes }}
            </span>
            </div>
            <div class="genre-container" *ngIf="data.genres.length > 1">
              @for (genre of data.genres; track $index) {
                <span class="genre" >{{ genre.name }}</span>
              }
          </div>
        </div>
        <img draggable="false" [src]="data.images.jpg.large_image_url">
      </div>
    </div>
      <h1 style="margin-left: 100px;margin-top:50px">Description</h1>
      <div class="desc-container">
        <p>{{ data.synopsis }}</p>
      </div>
      <div class="info-container">
        <h1 style="display:flex;justify-content: center">Information</h1>
        <table class="info-table">
          <tr *ngIf="data && data.type">
            <td><span>Type</span></td>
            <td><span style="float: right" >{{ data.type }}</span></td>
          </tr>
          <tr *ngIf="data && data.episodes">
            <td><span>Episodes</span></td>
            <td><span style="float: right" >{{ data.episodes }}</span></td>
          </tr>
          <tr *ngIf="data && data.status">
            <td><span>Status</span></td>
            <td><span style="float: right" >{{ data.status }}</span></td>
          </tr>
          <tr *ngIf="data && data.season">
            <td><span>Season</span></td>
            <td><span style="float: right" >{{ data.season }}</span></td>
          </tr>
          <tr *ngIf="data.studios && data.studios.length > 1">
            <td><span>Studio</span></td>
            <td><span style="float: right" >{{ data.studios[0]["name"] }}</span></td>
          </tr>
          <tr *ngIf="data.duration && data.duration != 'Unknown'">
            <td><span>Duration</span></td>
            <td><span style="float: right" >{{ data.duration }}</span></td>
          </tr>
        </table>
      </div>

      <div class="stat-container" *ngIf="data.score || data.popularity || data.members">
        <h1 style="display:flex;justify-content: center">Statistics</h1>     
        <table class="stat-table">
          <tr *ngIf="data.score">
            <td><img src="score.png" class="score-img" width="20" height="20" ><span>Score</span></td>
            <td><span style="float: right">{{ data.score }}</span></td>
          </tr>
          <tr *ngIf="data.popularity">
            <td><img src="arrow_up.svg" class="pop-img" width="30" height="30"><span>Popularity</span></td>
            <td><span style="float: right" >{{ data.popularity  }}</span></td>
          </tr>
          <tr *ngIf="data.members">
            <td><img src="user.svg" class="members-img" width="30" height="30" ><span>Members</span></td>
            <td><span style="float: right">{{ data.members }}</span></td>
          </tr>
        </table>
      </div>


      @if (animeCharData && animeCharData.length > 0) {
        <h1 [ngClass]="{ 'char-title': !isMobile,'char-title-mobile': isMobile}">Characters ({{ animeCharData.length }} in total) </h1>
        <div [ngClass]="{ 'char-container': !isMobile, 'char-container-mobile': isMobile }">
          @for (char of animeCharDataLimited; track $index) {
            <div class="char" *ngIf="char.role == 'Main' ">
             <img width="220" height="360" [src]="char.character.images.jpg.image_url">
             <div class="char-info">
              <span><a [href]="char.character.url" target="_blank">{{ char.character.name }}</a></span>
              <span>{{ char.role }}</span>
             </div>
            </div>
          }
        </div>
      }

      @if (relationsDataMore && relationsDataMore.length > 1) {
        <h1 [ngClass]="{ 'rel-title': !isMobile,'rel-title-mobile': isMobile}">Relations</h1>
        <div [ngClass]="{ 'rel-container': !isMobile, 'rel-container-mobile': isMobile }">
          @for (relation of relationsDataMore; track $index) {
            <app-anime-block [data]="relation" [isAnime]="true"></app-anime-block>
          }
        </div>
      }@else{
        <h1 [ngClass]="{ 'rel-title': !isMobile,'rel-title-mobile': isMobile}">No Relations found...</h1>
      }


      
    <h1 [ngClass]="{'review-title': !isMobile,'review-title-mobile': isMobile}" *ngIf="reviewData && reviewData.length > 0">Reviews ({{ reviewData.length }}) </h1>
    <div [ngClass]="{ 'review-container': !isMobile, 'review-container-mobile': isMobile }">
      @for ( review of reviewData; track $index) {
        <app-review [data]="review" ></app-review>
      }
    </div>
    <br><br>
</div>


}
   


  @if (loading) {
    <div class="loader-container">
      <div class="loader"></div>
    </div>
  }

