<app-topbar></app-topbar>
@if (data && !loading) {
  <div class="container">
    <div class="main-container">
      <div class="anime-card">
        <div class="info">
          <h1 class="title">{{ data.title }}</h1>
          <h2 *ngIf="data.title_japanese">{{ data.title_japanese }}</h2>
          <div class="row-1">
            <span class="score" *ngIf="data.score">
            {{ data.score }}
          </span>
          <span class="block" *ngIf="data.year">
            {{ data.year }}
          </span>
          <span class="status" *ngIf="data.status">
            {{ data.status }}
          </span>
          </div>
        <br>
          <div class="row-2">
            @for (genre of data.genres; track $index) {
              <span class="genre">{{ genre.name }}</span>
            }
          </div>
        </div>
        <img draggable="false" [src]="data.images.jpg.large_image_url">
      </div>
    </div>


  <div class="synopsis-container">
    <h1>Synopsis</h1>
    <p class="synopsis">{{ data.synopsis }}</p>
  </div>
    <h1 class="char-title" *ngIf="animeCharData && animeCharData.length > 0">Character</h1>
    <br>
    <div class="char-container">
      @for (char of animeCharData; track $index) {
        <div class="char" *ngIf="char.role == 'Main' ">
         <img width="220" height="360" [src]="char.character.images.jpg.image_url">
         <div class="char-info">
          <span><a [href]="char.character.url">{{ char.character.name }}</a></span>
          <span>{{ char.role }}</span>
         </div>
        </div>
      }
    </div>

  </div>

}

  @if (loading) {
    <div class="loader-container">
      <div class="loader"></div>
      Give it some time.
    </div>
  }
