<app-topbar></app-topbar>
@if (data && !loading) {
  <div class="container">
    <div class="main-container">
      <div class="anime-card">
        <div [ngClass]="{ 'info': !isMobile, 'info-mobile': isMobile }">
          <h1 class="title">{{ data.title_english }} </h1>
          <h2 *ngIf="data.title_japanese">{{ data.title_japanese }}</h2>
          <div class="row-1">
          <span class="year" *ngIf="data.year">
            {{ data.year }}
          </span>
          <span class="status" *ngIf="data.status">
            {{ data.status }}
          </span>
          </div>
          <div class="genre-container" *ngIf="data.genres.length > 1">
          <div class="row-2" >
            @for (genre of data.genres; track $index) {
              <span class="genre" >{{ genre.name }}</span>
            }
          </div>
          </div>
            <p class="synopsis">{{ data.synopsis }}</p>
        </div>
        <img draggable="false" [src]="data.images.jpg.large_image_url">
        <div class="anime-card-bottom-info">
            <span class="rank" *ngIf="data.rank">Rank #{{ data.rank }}</span>
            <span class="score" *ngIf="data.score">Score {{ data.score }}</span>
            <span class="fav" *ngIf="data.favorites">Favorites {{ data.favorites }}</span>
            <span class="pop" *ngIf="data.popularity">Popularity #{{ data.popularity }}</span>
        </div>
      </div>
    </div>

    <br>
      @if (animeCharData && animeCharData.length > 0) {
        <h1 [ngClass]="{ 'char-title': !isMobile,'char-title-mobile': isMobile}">Characters ({{ animeCharData.length }} in total) </h1>
        <div [ngClass]="{ 'char-container': !isMobile, 'char-container-mobile': isMobile }">
          @for (char of animeCharData; track $index) {
            <div class="char" *ngIf="char.role == 'Main' ">
             <img width="220" height="360" [src]="char.character.images.jpg.image_url">
             <div class="char-info">
              <span><a [href]="char.character.url" target="_blank">{{ char.character.name }}</a></span>
              <span>{{ char.role }}</span>
             </div>
            </div>
          }
        </div>

      }@else {
          <div class="char-container">
          </div>
        }
    <div [ngClass]="{ 'review-container': !isMobile, 'review-container-mobile': isMobile }">
    <h1 [ngClass]="{'review-title': !isMobile,'review-title-mobile': isMobile}" *ngIf="reviewData && reviewData.length > 0">Reviews ({{ reviewData.length }}) </h1>
      @for ( review of reviewData; track $index) {
        <app-review [data]="review" ></app-review>
      }
    </div>

</div>


}
   


  @if (loading) {
    <div class="loader-container">
      <div class="loader"></div>
    </div>
  }

