<app-topbar></app-topbar>
<div class="container">
    <div class="spotlight-container">
      <div class="spotlight-grid" 
           #spotlightGrid
           (mousedown)="startDrag($event,spotlightGrid)"
           (mousemove)="drag($event,spotlightGrid)"
           (mouseup)="endDrag(spotlightGrid)"
           (mouseleave)="endDrag(spotlightGrid)"
           >
       @for (d of spotlightData; track $index) {
          <app-spotlight [data]="d"></app-spotlight>
        }
      </div>
      <div class="scroll-buttons">
        <button (click)="scroll('left',spotlightGrid)"><img class="left" src="arrow.svg"></button>
        <button (click)="scroll('right',spotlightGrid)"><img class="right" src="arrow.svg"></button>
      </div>
    </div>

    @if (topAnimeData) {
    <h1 style="display: flex;justify-content: left; margin-bottom:0px;margin-left: 20px">Popular Anime </h1>
      <div class="anime-grid" #popular
        (mousedown)="startDrag($event,popular)"
        (mousemove)="drag($event,popular)"
        (mouseup)="endDrag(popular)"
        (mouseleave)="endDrag(popular)">

        @for (data of topAnimeData; track $index) {
            <app-anime-block  [data]="data"></app-anime-block>
        }
        </div>
      <div class="scroll-buttons">
        <button (click)="scroll('left',popular)"><img class="left" src="arrow.svg"></button>
        <button (click)="scroll('right',popular)"><img class="right" src="arrow.svg"></button>
      </div>
    }

    @if (topMangaData) {
    <h1 style="display: flex;justify-content: left; margin-bottom:0px;margin-left: 20px">Popular Manga</h1>
      <div class="anime-grid" #manga
        (mousedown)="startDrag($event,manga)"
        (mousemove)="drag($event,manga)"
        (mouseup)="endDrag(manga)"
        (mouseleave)="endDrag(manga)">

        @for (data of topMangaData; track $index) {
            <app-anime-block [data]="data"></app-anime-block>
        }
        </div>
      <div class="scroll-buttons">
        <button (click)="scroll('left',manga)"><img class="left" src="arrow.svg"></button>
        <button (click)="scroll('right',manga)"><img class="right" src="arrow.svg"></button>
      </div>
    }


    @if (recAnimeData) {
    <h1 style="display: flex;justify-content: left; margin-bottom:0px;margin-left: 20px">Recent Anime Recommendations</h1>
    <div class="anime-grid" #rec
      (mousedown)="startDrag($event,rec)"
      (mousemove)="drag($event,rec)"
      (mouseup)="endDrag(rec)"
      (mouseleave)="endDrag(rec)"

    >
      @for (data of recAnimeData; track $index) {
          <app-anime-block [data]="data"></app-anime-block>
      }
    </div>
      <div class="scroll-buttons">
        <button (click)="scroll('left',rec)"><img class="left" src="arrow.svg"></button>
        <button (click)="scroll('right',rec)"><img class="right" src="arrow.svg"></button>
      </div>
    }
    @if (recMangaData) {
    <h1 style="display: flex;justify-content: left; margin-bottom:0px;margin-left: 20px">Recent Manga Recommendations</h1>
    <div class="anime-grid" #rec_manga
      (mousedown)="startDrag($event,rec_manga)"
      (mousemove)="drag($event,rec_manga)"
      (mouseup)="endDrag(rec_manga)"
      (mouseleave)="endDrag(rec_manga)"

    >
      @for (data of recMangaData; track $index) {
          <app-anime-block [data]="data"></app-anime-block>
      }
    </div>
      <div class="scroll-buttons">
        <button (click)="scroll('left',rec_manga)"><img class="left" src="arrow.svg"></button>
        <button (click)="scroll('right',rec_manga)"><img class="right" src="arrow.svg"></button>
      </div>
    }
    <br>
</div>
