<app-topbar></app-topbar>
@if (showToast) {
  <app-toast 
    message="
    This website is a <b>work in progress</b>. Expect changes and possible instability. 
    If you found a bug report it here: <a href='https://github.com/Moritz344/GruvAnime/issues' target='_blank'>Github Issues</a>
    "
    header="Hey"
    height="210"
    width="420"
    (kill)="onRemoveToast()"
    >
  </app-toast>
}

<div class="container">
    <div class="spotlight-container">
      <div class="spotlight-grid" 
           #spotlightGrid>
          <app-spotlight (mouseenter)="turnOffAutoSwitch()" (mouseleave)="turnOnAutoSwitch()" [data]="spotlightData[this.pageData.page]" (pageChange)="onPageChange($event)" [pageData]="pageData"></app-spotlight>
      </div>
    </div>

    @if (topAnimeData) {
    <h1 class="chapter-header">Popular Anime </h1>
      <div class="anime-grid" #popular
        (mousedown)="startDrag($event,popular)"
        (mousemove)="drag($event,popular)"
        (mouseup)="endDrag(popular)">
        @for (data of topAnimeData; track $index) {
            <app-anime-block (click)="onAnimeBlock($event,data,true,false)" (mouseleave)="onAnimeBlockLeave()" [isAnime]="true" [openDetailsOnHoverElement]="true" [data]="data"></app-anime-block>
        }
        </div>
      <div class="scroll-buttons">
        <button (click)="scroll('left',popular)"><img class="left" src="arrow.svg"></button>
        <button (click)="scroll('right',popular)"><img class="right" src="arrow.svg"></button>
      </div>
    }


    @if (topMangaData) {
    <h1 class="chapter-header">Popular Manga</h1>
      <div class="anime-grid" #manga
        (mousedown)="startDrag($event,manga)"
        (mousemove)="drag($event,manga)"
        (mouseup)="endDrag(manga)">

        @for (data of topMangaData; track $index) {
            <app-anime-block (click)="onAnimeBlock($event,data,false,false)" (mouseleave)="onAnimeBlockLeave()" [isAnime]="false" [openDetailsOnHoverElement]="true" [data]="data"></app-anime-block>
        }
        </div>
      <div class="scroll-buttons">
        <button (click)="scroll('left',manga)"><img class="left" src="arrow.svg"></button>
        <button (click)="scroll('right',manga)"><img class="right" src="arrow.svg"></button>
      </div>
    }


    @if (recAnimeData) {
    <h1 class="chapter-header">Recent Anime Recommendations</h1>
    <div class="anime-grid" #rec
      (mousedown)="startDrag($event,rec)"
      (mousemove)="drag($event,rec)"
      (mouseup)="endDrag(rec)"
    >
      @for (data of recAnimeData; track $index) {
          <app-anime-block [isAnime]="true" (mouseleave)="onAnimeBlockLeave()" (click)="onAnimeBlock($event,data,true,false)" [openDetailsOnHoverElement]="true" [data]="data"></app-anime-block>
      }
    </div>
      <div class="scroll-buttons">
        <button (click)="scroll('left',rec)"><img class="left" src="arrow.svg"></button>
        <button (click)="scroll('right',rec)"><img class="right" src="arrow.svg"></button>
      </div>
    }
    @if (loadingAnimeRec) {
        <h1 class="loader-header">Loading Anime Recommendations!</h1>
        <div class="loader-container-text">
          <div class="loader"></div>
        </div>
      }
    @if (recMangaData) {
    <h1 class="chapter-header">Recent Manga Recommendations</h1>
    <div class="anime-grid" #rec_manga
      (mousedown)="startDrag($event,rec_manga)"
      (mousemove)="drag($event,rec_manga)"
      (mouseup)="endDrag(rec_manga)">
      @for (data of recMangaData; track $index) {
          <app-anime-block (mouseleave)="onAnimeBlockLeave()" (click)="onAnimeBlock($event,data,false,false)" [isAnime]="false" [openDetailsOnHoverElement]="true" [data]="data"></app-anime-block>
      }
    </div>
      <div class="scroll-buttons">
        <button (click)="scroll('left',rec_manga)"><img class="left" src="arrow.svg"></button>
        <button (click)="scroll('right',rec_manga)"><img class="right" src="arrow.svg"></button>
      </div>
    }
    @if (loadingMangaRec) {
        <h1 class="loader-header">Loading Manga Recommendations!</h1>
        <div class="loader-container-text">
          <div class="loader"></div>
        </div>
      }
    <br>
</div>



