.container{
  margin-top: 100px;
}


body{
}

h1{
  user-select: none;
}

@keyframes fadeIn{
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.anime-grid {
  display: grid;
  grid-template-columns: repeat(15,1fr);
  gap: 20px;
  overflow: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none;
  cursor: grab;
  user-select: none;
  padding: 20px;
}

app-spotlight{
  animation: fadeIn 0.5s ease-out;
  transition: opacity 0.2s ease-in-out;
}


.hover-container{
  position: fixed;
  background-color: var(--bg-hard);
  width: 500px;
  padding: 10px;
  border-radius: 10px;
}

.spotlight-container {
  position: relative;
  width: 100%;
  margin: 30px 20px;
  margin-bottom: 500px;
}

.page-buttons-spotlight{
  display: flex;
  gap: 5px;
  position: absolute;
  right: 40px;
  top: 520px;
}

.page-buttons-spotlight button {
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid white;
  width: 30px;
  height: 30px;
  opacity: 0.7;
}

.page-buttons-spotlight img{
  width: 15px;
  height: 15px;
}

.page-buttons-spotlight button:hover{
  opacity: 1;
  transform: scale(1.02);
}

.scroll-buttons{
  display: flex;
  justify-content: right;
  margin-top: 20px;
  margin-right: 40px;
  gap: 5px;
}

.right{
  transform: rotate(180deg);
}

.scroll-buttons  button{
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid white;
  width: 30px;
  height: 30px;
  opacity: 0.7;
}

.scroll-buttons img{
  width: 15px;
  height: 15px;
}

.scroll-buttons button:hover{
  opacity: 1;
  transform: scale(1.02);
}


.spotlight-grid{
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none; 
  -ms-overflow-style: none;
  padding: 10px;
}

.spotlight-grid::-webkit-scrollbar {
  display: none; 
}


.anime-grid-rec {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(8,230px);
  margin: 50px;
  margin-top: 20px;
  border-radius: 10px;
}

@media (max-width: 1200px) {

  .anime-grid {
    grid-template-columns: repeat(7, 1fr);
  }

  
  
  .page-buttons-spotlight {
    top: 420px;
  }
}

@media (max-width: 900px) {
  .container {
    margin-top: 200px;
  }
  
  .anime-grid {
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    padding: 15px;
  }

  .page-buttons-spotlight {
    right: 25px;
    top: 370px;
  }
  
  .scroll-buttons {
    margin-right: 25px;
  }
  
  h1 {
    margin-left: 15px;
    font-size: 1.4rem;
  }
}

@media (max-width: 600px) {
  .container {
    margin-top: 0px;
  }
  
  .anime-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
  }
  
  .spotlight-container {
    margin: 15px 10px;
    margin-bottom: 500px;
  }
  
  .page-buttons-spotlight {
    right: 20px;
    top: 300px;
  }
  
  .scroll-buttons {
    visibility: hidden;
  }
  
  h1 {
    margin-left: 10px;
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  .scroll-buttons button,
  .page-buttons-spotlight button {
    width: 35px;
    height: 35px;
  }
  
  .scroll-buttons img,
  .page-buttons-spotlight img {
    width: 18px;
    height: 18px;
  }
}

.chapter-header{
  display: flex;
  justify-content: left;
  margin-bottom:0px;
  margin-left: 20px
}

@media (max-width: 400px) {
  .anime-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    padding: 8px;
  }

  .chapter-header{
    margin-left: 10px;
  }

  
  h1 {
    font-size: 1.1rem;
    margin-left: 8px;
  }
  
  .spotlight-container {
    margin: 10px 8px;
    margin-bottom: 50px;
  }
  
  .page-buttons-spotlight {
    right: 15px;
    top: 270px;
  }
  
  .scroll-buttons {
    margin-right: 15px;
  }
}

@media (max-width: 468px) {
  .anime-grid {
    grid-template-columns: repeat(3, 100px);
    gap: 8px;
    padding: 8px;
  }

  .chapter-header{
    margin-left: 10px;
  }

  
  h1 {
    font-size: 1.1rem;
    margin-left: 8px;
  }
  
  .spotlight-container {
    margin: 10px 8px;
    margin-bottom: 50px;
  }
  
  .page-buttons-spotlight {
    right: 15px;
    top: 270px;
  }
  
  .scroll-buttons {
    margin-right: 15px;
  }
}
