.container{
  margin-top: 70px;
}

.loader-container{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.anime-container-mobile{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  justify-content: center;
  margin: 40px;

}

.anime-container{
  display: grid;
  grid-template-columns: repeat(7,200px);
  gap: 10px;
  justify-content: center;
  margin: 40px;
}
.page-container{
  display: flex;
  justify-content: center;
}



.pagination-container{
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 20px;
}

.page-container span{
  font-size: 20px;
  z-index: 100;
}

.pagination-container button{
  border: none;
  font-size: 17px;
  background-color: var(--gray8);
  color: white;
  border-radius: 5px;
  padding: 10px;
  z-index: 100;
}

.pagination-container button:hover{
  background-color: rgba(1,1,1,0.5);
}

