.container{
  margin-top: 80px;
  margin-left: 10px;
}

.container-top-items{
  display: flex;
  justify-content: left;
  margin-left: 20px;
  margin-top: 50px;
}

.container-top-items button{
  position: absolute;
  height: 42px;
  left: 350px;
  border: none;
  background: var(--gray8);
  border-radius: 5px;
  z-index: 0;
}

.container-top-items-mobile{
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 0px;
  margin-top: 50px;
}
.container-top-items button:hover{
  background-color: rgba(1,1,1,0.4);
}
.container-top-items-mobile button{
  position: absolute;
  height: 42px;
  left: 320px;
  border: none;
  background: var(--gray8);
  border-radius: 5px;
  z-index: 0;
}


.container-top-items-mobile button:hover{
  background-color: rgba(1,1,1,0.4);
}


input {
    background: var(--surface);
    border-radius: 5px;
    border: none;
    color: var(--text);
    font-size: 1rem;
    width: 340px;
    height: 40px;
    outline: none;
    z-index: 0;
}

.pagination-container{
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 20px;
}

.loader-container{
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.page-container{
  display: flex;
  justify-content: center;
  font-size: 18px;
  z-index: 100;
}
.page-container span{
  z-index: 100;
}

.pagination-container button{
  border: none;
  background-color: var(--gray8);
  color: white;
  border-radius: 5px;
  padding: 10px;
  font-size:16px;
  z-index: 100;
}

.pagination-container button:hover{
  background-color: rgba(1,1,1,0.5);
}



.search-type{
  margin-right: 10px;
}

.search-container{
  display: grid;
  grid-template-columns: repeat(8,1fr);
  gap: 10px;
  justify-content: center;
  margin: 20px;
  margin-top: 100px;
}
.search-container-mobile{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  justify-content: center;
  margin: 0px;
  margin-top: 100px;
  margin-bottom: 10px;

}


.filter-container{
  position: absolute;
  display: grid;
  grid-template-columns: repeat(7,250px);
  gap: 5px;
  margin-left: 20px;
  z-index: 1000;
  margin-top: 10px;
}

.filter-container-mobile{
  display: grid;
  grid-template-columns: repeat(1,200px);
  gap: 5px;
  z-index: 1000;
  margin-top: 10px;
}
.reset{
  border:none;
  background:var(--gray8);
  width: 40px;
  border-radius: 5px;
  max-height: 40px;
}


