<app-topbar></app-topbar>
<div class="container" >
  <div [ngClass]="{
    'container-top-items': !isMobile,
    'container-top-items-mobile': isMobile
  }
  ">
    <input (keydown.code.enter)="search()" [(ngModel)]="searchFilter.keyword" spellcheck="false" placeholder="Search...">
    <button (click)="search()"><img src="search.svg"></button>
  </div>
    <div [ngClass]="{
      'filter-container': !isMobile,
      'filter-container-mobile': isMobile
    }">
      <app-dropdown header="Types" [data]="types" default="Anime" [(model)]="currentType" (dropdownSelected)="onSetType($event)"></app-dropdown>
      @if (currentType == "anime") {
        <app-dropdown header="Rating" [data]="ratings" (reset)="onReset($event)" [(model)]="searchFilter.rating"  (dropdownSelected)="onFilter($event)"></app-dropdown>
      }

      @if (currentType == "anime") {
        <app-dropdown header="Status" [data]="status"  (reset)="onReset($event)" [(model)]="searchFilter.status" (dropdownSelected)="onFilter($event)"></app-dropdown>
      }@else {
        <app-dropdown header="Status" [data]="statusManga"  (reset)="onReset($event)" [(model)]="searchFilter.status" (dropdownSelected)="onFilter($event)"></app-dropdown>
      }

      @if (currentType == "anime") {
        <app-dropdown header="Order By" [data]="order_by"  (reset)="onReset($event)" [(model)]="searchFilter.order_by" (dropdownSelected)="onFilter($event)"></app-dropdown>
      }@else {
        <app-dropdown header="Order By" [data]="order_by_manga"  (reset)="onReset($event)" [(model)]="searchFilter.order_by"  (dropdownSelected)="onFilter($event)"></app-dropdown>
      }
      <app-dropdown header="Sort" [data]="sort" default="Descending" (reset)="onReset($event)" [(model)]="searchFilter.sort"  (dropdownSelected)="onFilter($event)"></app-dropdown>
      <app-dropdown header="Genres"  [multipleSelectable]="true" [data]="genres" (reset)="onReset($event)" [(model)]="searchFilter.genres" (dropdownSelected)="onFilter($event)"></app-dropdown>
      <app-dropdown header="Excluded Genres" [multipleSelectable]="true" (reset)="onReset($event)" [data]="excluded_genres" [(model)]="searchFilter.genres_exclude" (dropdownSelected)="onFilter($event)"></app-dropdown>
    </div>


    @if (searchResult && searchResult.length > 0 && !searching ) {
    <div [ngClass]="{ 
      'search-container': !isMobile,
      'search-container-mobile': isMobile
      }">
        @for (result of searchResult; track $index) {
          @if (currentType == "anime") {
            <app-anime-block [isAnime]="true" [data]="result"></app-anime-block>
          }@else if (currentType == "manga") {
            <app-anime-block [isAnime]="false" [data]="result"></app-anime-block>
          }
        }
    </div>
    }@else if (searchResult && searchResult.length == 0 && !searching){
      <span style="display:flex;justify-content: center;margin-top: 100px;font-size: 20px">Nothing found...</span>
    }

    @if (searching) {
        <div class="loader-container">
          <div class="loader"></div>
        </div>
    }


    @if (paginationData && !searching) {
        <div class="page-container">
          <span>Page: {{ paginationData.current_page }}/{{ paginationData.last_visible_page }}</span>
        </div>
      <div class="pagination-container">
        <button (click)="onPreviousPage()">Previous</button>
        <button *ngIf="paginationData.has_next_page" (click)="onNextPage()">Next</button>
      </div>

    }
</div>
