.container{
  margin-top: 80px;
  margin-left: 10px;
}

.container-top-items{
  display: flex;
  justify-content: left;
  margin-left: 20px;
  margin-top: 50px;
}


.search-button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  width: 100vw;
  margin-top: 90px;
  margin-bottom: 30px;
}

.search-button-mobile{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  width: 100vw;
  margin-top: 30px;
  margin-bottom: -70px;
}

.search-button-mobile button{
  width: 300px;
  background: var(--gray8);
  border-radius: 5px;
  z-index: 0;
  height: 42px;
  border: none;
  margin-right: 0px;
}

.search-button-mobile button:hover{
  background-color: var(--gray7);
}

.search-button button{
  width: 300px;
  background: var(--gray8);
  border-radius: 5px;
  z-index: 0;
  height: 42px;
  border: none;
  margin-right: 0px;
}

.search-button button:hover{
  background-color: var(--gray7);
}

.search-button span{
  color: white;
  font-size: 20px;
  float: right;
  margin-left: -90px;
  margin-right: 100px;
}

.search-button-mobile span{
  color: white;
  font-size: 20px;
  float: right;
  margin-left: -90px;
  margin-right: 100px;
}

.container-top-items-mobile{
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 0px;
  margin-top: 50px;
}
.container-top-items button:hover{
  background-color: rgba(1,1,1,0.4);
}
.container-top-items-mobile button{
  position: absolute;
  height: 42px;
  left: 320px;
  border: none;
  background: var(--gray8);
  border-radius: 5px;
  z-index: 0;
}


.container-top-items-mobile button:hover{
  background-color: rgba(1,1,1,0.4);
}


input {
  background: var(--surface);
  border-radius: 5px;
  border: none;
  color: var(--text);
  font-size: 20px;
  width: 97%;
  height: 40px;
  outline: none;
  z-index: 0;
}

.pagination-container{
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 20px;
}

.loader-container{
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.page-container{
  display: flex;
  justify-content: center;
  font-size: 18px;
  z-index: 100;
}
.page-container span{
  z-index: 100;
}

.pagination-container button{
  border: none;
  background-color: var(--gray8);
  color: white;
  border-radius: 5px;
  padding: 10px;
  font-size:16px;
  z-index: 100;
}

.pagination-container button:hover{
  background-color: rgba(1,1,1,0.5);
}



.search-type{
  margin-right: 10px;
}

.search-container{
  display: grid;
  grid-template-columns: repeat(8,1fr);
  gap: 10px;
  justify-content: center;
  margin: 20px;
  margin-top: 0px;
}

.search-container-mobile{
  display: grid;
  grid-template-columns: repeat(4,100px);
  gap: 10px;
  justify-content: center;
  margin: 0px;
  margin-top: 100px;
  margin-bottom: 10px;

}


.filter-container{
  position: absolute;
  display: grid;
  grid-template-columns: repeat(7,250px);
  gap: 5px;
  margin-left: 20px;
  z-index: 1000;
  margin-top: 10px;
}

.filter-container-mobile{
  display: grid;
  grid-template-columns: repeat(1,200px);
  gap: 5px;
  z-index: 1000;
  margin-top: 10px;
}
.reset{
  border:none;
  background:var(--gray8);
  width: 40px;
  border-radius: 5px;
  max-height: 40px;
}


