.container{
  position: fixed;
  z-index: 1000;
  max-height: 50px;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 850px;
  margin: 0 auto;
  padding: 10px;
  background-color: #282828;
  opacity: 95%;
  backdrop-filter: blur(5px);

}

.home-container{
  position: absolute;
  top: 20px;
}

.screen{
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: transparent;
}

.container-items{
  display: flex;
  margin-top: 10px;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  transition: 0.3s ease;
}

.search-container{
  position: absolute;
  top: 15px;
  right: 150px;
}



.search-input {
  background: var(--surface);
  border-radius: 5px;
  border: none;
  color: var(--text);
  font-size: 1rem;
  width: 200px;
  height: 30px;
}

.search-container button{
  position: absolute;
  top: 0px;
  right: 0px;
  height: 30px;
  background: var(--gray8);
  border-radius: 6px;
  border: none;
}

.search-container button:hover{
  background: rgba(1,1,1,0.5);
}

.search-input:focus {
  outline: none;
}

.container-items img{
  float: left;
  margin-right: 5px;
  margin-bottom:2px;
}

.github{
  position: absolute;
  top: 7px;
  right: 70px;
}

.anime-wrapper{
  position: relative;
}

.anime-hover-container{
  position: absolute;
  top: 100%;
  left: -15px;
  background-color: var(--gray8);
  padding: 10px;
  border: 1px solid white;
  z-index: 9999;
}

.anime-hover-container button{
  border:none;
  color: white;
  background: transparent;
  font-size: 15px;
}

.anime-hover-container button:hover{
  color: var(--yellow);
}

.manga-hover-container{
  position: absolute;
  top: 100%;
  left: 70px;
  background-color: var(--gray8);
  padding: 10px;
  border: 1px solid white;
  z-index: 9999;
}

.manga-hover-container button{
  border:none;
  color: white;
  background: transparent;
  font-size: 15px;
}

.manga-hover-container button:hover{
  color: var(--yellow);
}


.btn{
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  transition: 0.3s ease;
}

.btn:hover{
  color: var(--orange);
}


