.container{
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--gray9);
  z-index: 10000;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid var(--gray7);
}

span{
  text-align: justify;
}

.close{
  position: absolute;
  top: 10px;
  right: 10px;
}

body{
}

.screen{
  top: 0;
  width: 100vw;
  height: 100vw;
  position: fixed;
  background-color: black;
  opacity: 0.4;
  z-index: 10000;
}

button{
  background-color: transparent;
  border: none;
  border-radius: 5px;
}

button:hover{
  background-color: var(--gray8);
}
