.container{
}

.items img{
  float: right;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-left: 5px;
}

.items h1{
  font-size: 20px;
}

.desc{
  margin-top: 5px;
  height: 270px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.items{
  width: 580px;
  height: 250px;
  background-color: var(--gray8);
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  margin-right: 50px;
  transition: 0.3s ease;
}

.items:hover{
  transform: scale(1.04);
}

