.container{
}

.items img{
  float: right;
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: -20px;
  margin-top: -20px;
  mask: linear-gradient(to right, transparent 0%, transparent 10%, black 50%, black 100%);
}

span{
  user-select: none;
}

.genre-container{
  display: flex;
  flex-direction: row;
  gap: 5px;
  color: white;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.genre{
  user-select: none;
  background-color: rgba(184, 187, 38, 0.2);
  color: #b8bb26;
  display: inline-flex;
  padding: 5px;
  width: auto;
  border-radius: 9999px;
  border: 1px solid rgba(184, 187, 38, 0.3);
}

.items h1{
  font-size: 20px;
}

.desc{
  margin-top: 5px;
  height: 120px;
  max-height: 120px;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.items{
  width: 580px;
  height: 250px;
  background-color: var(--bg-hard);
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  margin-right: 50px;
  transition: 0.3s ease;
  position: relative;
}

.items:hover{
  transform: scale(1.04);
}

