.container{
  position: absolute;
  top: 0px;
  right: 0;
  left: 0px;
  height: 500px;
  width: 98vw;
  border-radius: 10px;
  background: rgba(40, 40, 38, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(80, 73, 69, 0.3);
  transition: opacity 0.2s ease-in-out;
  animation: 0.5s fadeIn;
}

@keyframes fadeIn{
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.badge-container{
  display: grid;
  grid-template-columns: repeat(2,150px);
  gap: 10px;
}

.title-container{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 100px;
  float: left;
  width: 1300px;
}


.coming-soon-badge{
  position: absolute;
  top: 10px;
  left: 10px;
}

.coming-soon-badge button{
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
  color: white;
  background-color: var(--orange);
}

.page-container{
  position: absolute;
  right: 20px;
  top: 460px;
  border-radius: 5px;
  padding: 5px;
  background-color: var(--bg-hard);
  text-align: center;
  width: 50px;
  border: 1px solid white;
}



.thumbnail-container{
  position: absolute;
  right: 0;
  z-index: -1000;
}
.thumbnail-container img{
  object-fit: cover;
  border-radius: 10px;
  mask: linear-gradient(to right, transparent 0%, transparent 0%, black 50%, black 100%);
}

.details-container{
  display: grid;
  grid-template-columns: repeat(2,100px);
  gap: 60px;
}

.details-container button {
  border: none;
  background-color: var(--aqua);
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease;
  margin-top: 15px;
  width: 150px;
}

.details-container button:hover{
  transform: scale(1.05);
}

.container-loader{
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 500px;
  width: 98vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next-page-button-left button { 
  position: absolute;
  top: 200px;
  left: 10px;
  background: var(--bg-medium);
  border-radius: 20px;
  border: 1px solid white;
  width: 40px;
  height: 40px;
  opacity: 0.9;
  transition: background-color 0.2s ease;
}

.next-page-button-right button { 
  position: absolute;
  top: 200px;
  right: 10px;
  background: var(--bg-medium);
  border-radius: 20px;
  border: 1px solid white;
  width: 40px;
  height: 40px;
  opacity: 0.9;
  transition: background-color 0.2s ease;
}

.next-page-button-right button:hover{
  background-color: black;
  opacity: 1;
}
.next-page-button-left button:hover{
  background-color: black;
  opacity: 1;
}

.badge-ep{
  border-radius: 5px;
  padding: 5px;
  color: white;
  background-color: var(--purple);
  transition: 0.3s ease;
  text-align: center;
  width: auto;
  height: 20px;
}
