:root {
  --bg-hard: #1d2021;
  --bg-medium: #282828;
  --bg-soft: #32302f;

  --borders: #504945;
 
  --fg-hard: #ebdbb2;
  --fg-medium: #d5c4a1;
  --fg-soft: #bdae93;
 
  --gray0: #fbf1c7;
  --gray1: #ebdbb2;
  --gray2: #d5c4a1;
  --gray3: #bdae93;
  --gray4: #a89984;
  --gray5: #928374;
  --gray6: #665c54;
  --gray7: #504945;
  --gray8: #3c3836;
  --gray9: #282828;
  --gray10: #1d2021;
 
  --red: #cc241d;
  --red-bright: #fb4934;
  --green: #98971a;
  --green-bright: #b8bb26;
  --yellow: #d79921;
  --yellow-bright: #fabd2f;
  --blue: #458588;
  --blue-bright: #83a598;
  --purple: #b16286;
  --purple-bright: #d3869b;
  --aqua: #689d6a;
  --aqua-bright: #8ec07c;
  --orange: #d65d0e;
  --orange-bright: #fe8019;
 
  --primary: var(--blue);
  --primary-bright: var(--blue-bright);
  --secondary: var(--purple);
  --secondary-bright: var(--purple-bright);
  --accent: var(--orange);
  --accent-bright: var(--orange-bright);
  --success: var(--green);
  --success-bright: var(--green-bright);
  --warning: var(--yellow);
  --warning-bright: var(--yellow-bright);
  --error: var(--red);
  --error-bright: var(--red-bright);
 
  --background: var(--bg-medium);
  --surface: var(--bg-soft);
  --text: var(--fg-medium);
  --text-secondary: var(--fg-soft);
  --border: var(--gray7);
  
  --mobile-max: 768px;
  --tablet-max: 1024px;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: Roboto,apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
}


::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

html {
  scrollbar-width: none;
}

body {
  -ms-overflow-style: none;
}





.loader-container {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.loader {
  height: 60px;
  aspect-ratio: 2;
  border-bottom: 3px solid #0000;
  background: 
    linear-gradient(90deg,var(--gray5),50%,#0000 0)
    -25% 100%/50% 3px repeat-x border-box;
  position: relative;
  animation: l3-0 .75s linear infinite;
}
.loader:before {
  content: "";
  position: absolute;
  inset: auto 42.5% 0;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--gray1);
  animation: l3-1 .75s cubic-bezier(0,900,1,900) infinite;
}
@keyframes l3-0 {
  to {background-position: -125% 100%}
}
@keyframes l3-1 {
  0%,2% {bottom: 0%}
  98%,to {bottom:.1%}
}
