@if (this.data) {
  <div class="container" (click)="onDetails()">
      <div class="anime-card" >
        <div class="anime-items">
            <a [routerLink]="isAnime ? '/anime/' + data.mal_id : '/manga/' + data.mal_id"  >
              <img *ngIf="data.images" draggable="false" class="anime-img" [src]="data.images.jpg.image_url">
            </a>
              <div class="anime-title">
                 <span style="display: flex;justify-content: center;text-align: center; margin: 5px;">{{ title }}</span>
              </div>
        </div>
    </div>
  </div>

}
